h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column; /* Stacks form elements vertically */
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Centers the form horizontally */
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  display: flex;
  flex-direction: column; /* Stacks label text and input vertically */
}

input {
  padding: 10px;
  margin-top: 5px; /* Spacing between label text and input */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none; /* Removes default focus outline */
  border-color: #007BFF; /* Adjust the focus border color as needed */
}

p {
  color: red;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF; /* Change this to match your theme's color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* A darker shade for hover effect */
}
