.spot-management-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.spot-management-container h2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.spot-management-container button {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #007bff;
  color: #fff;
}

.spot-management-container button:hover {
  background-color: #0056b3;
}

.spot-management-container button:last-child {
  background-color: grey;
  color: white;
}

.spot-management-container button:last-child:hover {
  background-color: #bbb;
}

.spot-management-container section {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.spot-management-container section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .spot-management-container {
    padding: 1rem;
  }
  .spot-management-container h2,
  .spot-management-container section h3 {
    font-size: 1.25rem;
  }
}

.spot-management-header {
  padding: 1rem;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.manage-spots-header {
  text-align: left;
  margin: 0px;
}

.create-new-spot-btn {
  box-sizing: border-box;
  font-size: inherit;
  padding: 5px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.update-delete-buttons {
  box-sizing: border-box;
  font-size: inherit;
  padding: 5px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
