.spot-tile {
  border: 1px solid #ccc;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.spot-tile:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spot-thumbnail {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: 5px;
}

.spot-info {
  margin-top: 0.5rem;
}

.spot-name,
.spot-city-state,
.spot-price {
  display: block;
  margin: 0.2rem 0;
}

.spot-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 50%;
}

.spot-city-state-rating-wrapper {
  display: flex;
  justify-content: space-between;
}
