h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #6f757b;
}

button:disabled:hover {
  background-color: #6f757b;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.demo-user-link {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.login-header {
  margin-top: 20px;
  margin-bottom: 0px;
}

.login-error {
  margin-top: 0px;
  color: red;
}
